
/*Start navbar */
*{
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    width: 420px;
    background-color: #4053ff;
    padding: 5px 0px;
    height: 100vh;
    clip-path: circle(8% at 8% 3%);
}
nav ul a {
    text-decoration: none;
    display: inline;
}
nav ul.active {
  clip-path: circle(90% at -40% 14%);
} 
header.active{
    background-color: red;
}
nav ul .menu {
    width: 48px;
    height: 40px;
    position: relative;
    margin-bottom: 24px;
    margin-left: 12px;
    cursor: pointer;
}
nav ul .menu span{
    position:absolute;
    left: 0;
    background-color: white;
    padding: 2px;
    width: 48px;
    border-radius: 4px;
}
nav ul .menu span:nth-child(1){
    top: 0px;
}
nav ul .menu span:nth-child(2){
    top: 18px;
    width: 28px;
}
nav ul .menu span:nth-child(3){
    bottom: 0px;
    width: 40px;
}
nav ul.active .menu span:nth-child(1){
    top: 0px;
    left: 23px;
    width: 4px;
    height: 40px;
}
nav ul.active .menu span:nth-child(2){
    width: 40px;
    left: 5px;   
}
nav ul.active .menu span:nth-child(3){
    padding: 0px;
    width: 0px;
}
nav ul.active .menu{
    transform: rotateZ(45deg); 
}
nav ul .menuicon{
  margin-bottom: -10px;
  margin-top: 0px;
  margin-right: 10px;
}

nav ul li {
    padding: 24px 48px;
    color: white;
    text-transform: uppercase;
}
nav ul li:hover{
    background-color: #4481eb;
    padding-left: 56px;
}
/* navbar end */
* {
  box-sizing: border-box; 
}
body {
  background: url("bg.jpg") no-repeat ;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
}
h1 {
  text-align: center;
  font-family:serif;
  margin-top: 70px;
}
#main-container {
  width: 502px;
  margin: 30px auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.527);
}
#flag-container {
  height: 252px;
  background-color: #fff;
  border: 1px solid #333;
}
#flag-container img {
  display: block;
  width: 100%;
  height: 100%;
}
#info-container{
  padding: 10px;
}
#info-container select {
  display: block;
  margin: 20px auto;
  padding: 5px;
  /* min-width: 100%; */
  color: #333;
  font-size: 15px;
  font-weight: 900;
  text-align-last: center;
  width: 200px;
}
#info-container p {
  padding: 0 10px;
  font-weight: 600;
}
#info-container p span {
  font-weight: normal;
}

#subregion{
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  #main-container { width: 70%; }  
  #flag-container { height: 60%; }  
}